.navbar{
    background-color: #b093f3;


    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 200px;
    margin-left: 200px;
    align-items: center;
    color: rgb(36, 9, 24);
    animation-duration: 5s;
    animation-name: spin;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction:alternate ;
    animation-fill-mode: forwards;
}   
.navbar:hover{
    background-color: blue;
    animation-play-state: paused;
}
@keyframes spin{
    0%{
        background-color: bisque;
    }
    50%{
        scale: 2;
        background-color: #9bf393;
    }

   100%{
    transform: rotate(360deg);
    border-radius: 50%;
    scale: 2;
   } 

}
body{
    background-color:pink;
}
